.image-edit-product {
    border: 3px dotted green;

}


.image-edit{
    position:relative;
}
    .image-edit .buttons button:nth-child(1) {
        position: absolute;
        top: 100px;
        left: 50px;
        color:white;
        opacity:0;
        transition: all 0.3s;
    }

    .image-edit .buttons button:nth-child(2) {
        position: absolute;
        top: 100px;
        left: 150px;
        color: white;
        opacity: 0;
        transition: all 0.3s;
    }

    .image-edit:hover button {
        opacity: 1 !important;

    }
